{# templates/security/login.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Log In{% endblock %}

{% block body %}
    {# Este div es donde React montará el componente LoginForm #}
    <div id="react-login-form"></div>
{% endblock %}