{# templates/template_form/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Create New Template{% endblock %}

{% block body %}
    <div id="react-template-form"></div> {# <-- Aquí se montará tu componente React #}
{% endblock %}